<html>
    <head>
        <title>Caixeiro Viajante</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/modal.css') }}">
        <link rel="icon" href="{{ url_for ('static', filename='img/icon.png') }}">
    </head>

   
    

    <body background="{{ url_for ('static', filename='img/mapaPoint.jpg') }}">
    
        <div class="sapo">

            <header>
                <br>
                     <button type="button" class="modal-btnHome" id="modalbtn"><img src="{{ url_for ('static',filename='img/question.png') }}"> </button>
                    <div id =ModalAg class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                            <span class=" close">&times;</span>
                            <center>
                                <h3>Sobre</h3>
                            </center>    
                            <center>
                                <p>Este projeto demonstra algoritmos aprendidos em programação linear, aplicados ao mapeamento das melhores rotas para um aplicativo de delivery (Caixeiro Viajante). Ele reúne algoritmos de busca local e genéticos.
                                </p>
                                <br>
                                <p> A aplicação foi feita por Pedro Vargas e Matheus Lima 🤝 </p>
                            </center>
                        </div>
                        </div>
                
                </header>
            <main>
                <form id="form" action="/metodos" method="post">
                    <center>
                        <h2>Traveling Delivery</h2>
                        <br>
                    </center>

                    <label for="tMatriz">Pontos de Entrega: </label><br><br>
                    <input class="input-field" type="number" placeholder=" Há Quantos Pontos?" name="tMatriz" id="tMatriz"   min="2" max="40" required><br><br>

                    <label for="cMin">Tempo Minímo de uma Entrega: </label><br><br>
                    <input class="input-field" type="number" placeholder="Tempo Min da Entrega " name="cMin" id="cMin" min="1" max="30" required><br><br>

                    <label for="cMax">Tempo Máximo de uma Entrega: </label><br><br>
                    <input class="input-field" type="number" placeholder="Tempo Máx da Entrega" name="cMax" id="cMax" min="1" max="100" required><br><br><br>

                    <center>
                        <button type="submit">Enviar</button>
                    </center>
                </form>
            </main>
        </div>

        <script src="{{ url_for ('static', filename='js/home.js') }}">
        </script>

          <script src=" {{url_for ('static',filename = 'js/modal.js')}}">
            
          </script>
    </body>
</html>
